.template-content {
  color: #2f2f30;
}

.template-content a {
  color: #2f2f30;
}

.template-content p {
  font-size: 15px;
}

.template-content h2 {
  margin-bottom: 0;
  margin-top: 2em;
}

.template-content pre {
  background: #2f2f30;
  border-radius: 5px;
  color: #fff;
  overflow-x: scroll;
  padding: 2em;
}

.template-content table {
  border-collapse: collapse;
}

.template-content tr {
  border-bottom: 1px solid #f49807;
}

.template-content td,
.template-content th {
  padding: 8px;
  text-align: left;
}

.template-title {
  color: #2f2f30;
  margin-bottom: 20px;
  text-decoration: underline #f49807 solid;
}
