.template-content {
  color: #2f2f30;
}

.template-content a {
  color: #2f2f30;
}

.template-content p {
  font-size: 14px;
}

.template-title {
  color: #2f2f30;
  margin-bottom: 20px;
  text-decoration: underline #f49807 solid;
}