.template-container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 10px 10px;
}

.template-content {
  color: var(--black);
}

.template-content a {
  color: var(--black);
}

.template-content p {
  font-size: 15px;
}

.template-content h2 {
  margin-bottom: 0;
  margin-top: 2em;
}

.template-content pre {
  background: var(--black);
  border-radius: 5px;
  color: var(--white);
  overflow-x: scroll;
  padding: 2em;
}

.template-content table {
  border-collapse: collapse;
}

.template-content tr {
  border-bottom: 1px solid var(--yellow);
}

.template-content td,
.template-content th {
  padding: 8px;
  text-align: left;
}

.template-title {
  color: var(--black);
  margin-bottom: 20px;
  text-decoration: underline var(--yellow) solid;
}

@media screen and (min-width:768px) {
  .template-container {
    padding: 0 30px 30px;
  }
}