.hero {
    background: linear-gradient(to bottom,
            rgb(247, 247, 255),
            rgba(247, 247, 255, 0.4)),
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='500' preserveAspectRatio='none' viewBox='0 0 1440 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1020%26quot%3b)' fill='none'%3e%3cpath d='M700.43-12.84C608.9 5.22 661.85 223.43 425.25 239.25 188.65 255.07 22.56 450.48-125.11 454.25' stroke='rgba(249%2c 220%2c 92%2c 0.5803921568627451)' stroke-width='2'%3e%3c/path%3e%3cpath d='M956.85-26.95C831.5-12.14 760.05 265.81 547.1 268.05 334.15 270.29 342.22 205.55 137.35 205.55-67.53 205.55-168.78 267.87-272.4 268.05' stroke='rgba(249%2c 220%2c 92%2c 0.5803921568627451)' stroke-width='2'%3e%3c/path%3e%3cpath d='M647.77-93.2C564.61-88.58 594.91 52.89 352.84 61.72 110.77 70.55-77.88 297.18-237.02 301.72' stroke='rgba(249%2c 220%2c 92%2c 0.5803921568627451)' stroke-width='2'%3e%3c/path%3e%3cpath d='M856.98-99.52C707.76-96.93 592.02 86.21 291.7 92.34-8.63 98.47-122.43 303.75-273.59 307.34' stroke='rgba(249%2c 220%2c 92%2c 0.5803921568627451)' stroke-width='2'%3e%3c/path%3e%3cpath d='M467.57-71.2C357.88-2.91 414.5 379.55 219.59 382.27 24.69 384.99-140.81 167.13-276.36 162.27' stroke='rgba(249%2c 220%2c 92%2c 0.5803921568627451)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1020'%3e%3crect width='1440' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
}

.hero-title {
    color: #ed254e;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .hero-title {
        font-size: 100px;
    }
}

@media screen and (min-width: 1024px) {
    .hero-title {
        font-size: 130px;
    }
}