/* Colors:
red: #d03e35
orange: #f49807
terracota: #975840
black: #2f2f30
beige: #f2e1d2
*/


html {
  font-family: 'DM Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #fff;
  text-decoration: underline #f49807 solid;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

h1,
h2,
h3 {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 30px;
}