:root {
  --black: #2A2A2A;
  --red: #E73636;
  --white: #FFF;
  --yellow: #f9d70b;
  --gray: #838383;
}

html {
  font-family: 'DM Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--white);
  color: var(--black);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--white);
  text-decoration: underline var(--yellow) solid;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 30px;
}