html {
  font-family: 'DM Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #f7f7ff;
  color: #011936;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #fff;
  text-decoration: underline #f9dc5c solid;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 30px;
}
