.demo-body {
  border-radius: 7px;
  box-shadow: 0 -3px 3px -3px var(--gray);
  padding: 20px;
}

.demo-button {
  background: var(--black);
  border: 1px solid var(--white);
  border-left: none;
  border-radius: 0 7px 7px 0;
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
}

.demo-container {
  overflow: scroll;
}

.demo-content {
  background-color: var(--white);
  box-shadow: var(--gray) 0px 1px 2px 0px,
    var(--gray) 0px 2px 6px 2px;
  border-radius: 25px;
}

.demo-copy {
  background: var(--black);
  border-width: 1px 1px 1px 0;
  border-color: var(--white);
  border-style: solid;
  cursor: pointer;
  padding: 4px;
  width: 30px;
}

.demo-copy-alert {
  background-color: var(--red);
  border-radius: 8px;
  color: var(--white);
  opacity: 0;
  padding: 10px;
  position: absolute;
  transition: opacity 0.3s ease-in;
}

.demo-copy-alert-active {
  opacity: 1;
}

.demo-header {
  margin-bottom: 5px;
  padding: 20px 20px 0 20px;
  position: relative;
}

.demo-header span {
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
  height: 12px;
  width: 12px;
}

.demo-header-red {
  background: #ff443a;
}

.demo-header-yellow {
  background: #ffd60a;
}

.demo-header-green {
  background: #30d158;
}

.demo-header-title {
  background-color: var(--white);
  border-radius: 7px 7px 0 0;
  box-shadow: 0px -2px 2px -1px var(--gray);
  display: inline-block;
  margin-bottom: -5px;
  margin-left: 10px;
  padding: 5px 15px;
  position: absolute;
}

.demo-input {
  background: var(--black);
  border: 1px solid var(--white);
  border-radius: 7px 0 0 7px;
  color: var(--white);
  flex: 1;
  font-size: 16px;
  padding: 5px 10px;
}

.demo-request {
  display: flex;
}

.demo-result {
  background: var(--black);
  border: 1px solid var(--white);
  border-radius: 7px;
  color: var(--white);
  font-size: 14px;
  margin-top: 15px;
  height: 400px;
  overflow: scroll;
  padding: 10px;
}

.demo-url {
  background: var(--red);
  color: var(--white);
  padding: 5px 10px;
}