.demo {
  background: linear-gradient(to top,
      rgb(247, 247, 255),
      rgba(247, 247, 255, 0.4)),
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='500' preserveAspectRatio='none' viewBox='0 0 1440 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1014%26quot%3b)' fill='none'%3e%3cpath d='M686.37 597.84C795.36 559.92 756.16 238.16 975.22 237.8 1194.29 237.44 1397.53 463.62 1552.93 467.8' stroke='rgba(249%2c 220%2c 92%2c 0.5803921568627451)' stroke-width='2'%3e%3c/path%3e%3cpath d='M267.95 565.69C376.42 560.8 460.85 376.83 658.86 376.42 856.86 376.01 854.31 438.92 1049.76 438.92 1245.22 438.92 1341.7 376.62 1440.67 376.42' stroke='rgba(249%2c 220%2c 92%2c 0.5803921568627451)' stroke-width='2'%3e%3c/path%3e%3cpath d='M568.64 557.73C713.41 541.27 805.12 221.13 1044.31 220.99 1283.5 220.85 1387.49 449.7 1519.98 455.99' stroke='rgba(249%2c 220%2c 92%2c 0.5803921568627451)' stroke-width='2'%3e%3c/path%3e%3cpath d='M637.14 551.77C762.5 541.79 822.94 305.2 1067 290.51 1311.06 275.82 1377.91 90.67 1496.86 85.51' stroke='rgba(249%2c 220%2c 92%2c 0.5803921568627451)' stroke-width='2'%3e%3c/path%3e%3cpath d='M723.84 528.92C852.67 472.44 791.11 71.21 1045.11 66.99 1299.11 62.77 1523.25 206.18 1687.65 206.99' stroke='rgba(249%2c 220%2c 92%2c 0.5803921568627451)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1014'%3e%3crect width='1440' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
}

.demo-body {
  border-radius: 7px;
  box-shadow: 0 -3px 3px -3px rgba(60, 64, 67, 0.3);
  padding: 20px;
}

.demo-button {
  background: #465362;
  border: 1px solid #f7f7ff;
  border-left: none;
  border-radius: 0 7px 7px 0;
  color: #f7f7ff;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
}

.demo-container {
  margin: 0 auto;
  max-width: 800px;
  overflow: scroll;
  padding: 30px;
}

.demo-content {
  background-color: #f7f7ff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 25px;
  min-width: 550px;
}

.demo-copy {
  background: #465362;
  border-width: 1px 1px 1px 0;
  border-color: #f7f7ff;
  border-style: solid;
  padding: 3px;
  width: 30px;
}

.demo-copy-alert {
  background-color: #ed254e;
  border-radius: 8px;
  color: #f7f7ff;
  opacity: 0;
  padding: 10px;
  position: absolute;
  transition: opacity 0.3s ease-in;
}

.demo-copy-alert-active {
  opacity: 1;
}

.demo-header {
  margin-bottom: 5px;
  padding: 20px 20px 0 20px;
  position: relative;
}

.demo-header span {
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
  height: 12px;
  width: 12px;
}

.demo-header-red {
  background: #ff443a;
}

.demo-header-yellow {
  background: #ffd60a;
}

.demo-header-green {
  background: #30d158;
}

.demo-header-title {
  background-color: #f7f7ff;
  border-radius: 7px 7px 0 0;
  box-shadow: 0px -2px 2px -1px rgba(60, 64, 67, 0.3);
  display: inline-block;
  margin-bottom: -5px;
  margin-left: 10px;
  padding: 5px 15px;
  position: absolute;
}

.demo-input {
  background: #465362;
  border: 1px solid #f7f7ff;
  border-radius: 7px 0 0 7px;
  color: #f7f7ff;
  flex: 1;
  font-size: 16px;
  padding: 5px 10px;
}

.demo-request {
  display: flex;
}

.demo-result {
  background: #465362;
  border: 1px solid #f7f7ff;
  border-radius: 7px;
  color: #f7f7ff;
  font-size: 14px;
  margin-top: 15px;
  height: 400px;
  overflow: scroll;
  padding: 10px;
}

.demo-url {
  background: #ed254e;
  color: #fff;
  padding: 5px 10px;
}