.hero {
  background-image: url(../images/mickey-silhouette.svg);
  background-position: bottom -50px left -134px;
  background-repeat: no-repeat;
  background-size: 500px;
  padding-bottom: 80px;
  padding-top: 80px;
  text-align: center;
}

.hero-title {
  text-decoration: underline #f49807 solid;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 30px;
}
