.hero {
  background-image: url(../images/mickey-silhouette.svg);
  background-position: bottom -50px left -134px;
  background-repeat: no-repeat;
  background-size: 500px;
  padding-bottom: 80px;
  padding-top: 80px;
  text-align: center;
}

.hero-title {
  text-decoration: underline #f49807 solid;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 30px;
}

.demo {
  background-color: #2f2f30;
  background-image: url(../images/star.svg);
  background-position: 100% 100%;
  background-repeat-x: no-repeat;
  background-size: 150px;
}

.demo-button {
  background: #d03e35;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
}

.demo-input {
  border: none;
  flex: 1;
  min-width: 80px;
}

.demo-request {
  border: 1px solid #2f2f30;
  display: flex;
  font-size: 14px;
}

.demo-result {
  background-color: #fff;
  border: 1px solid #f49807;
  margin: 40px 0;
  padding: 10px;
}

.demo-title {
  color: #fff;
  margin-bottom: 20px;
  font-size: 35px;
  text-align: center;
  text-decoration: underline #f49807 solid;
}

.demo-url {
  background: #d03e35;
  color: #fff;
  padding: 5px 10px;
}