.header {
  background-color: #d03e35;
  padding: 30px;
}

.header-link {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.header-list {
  display: flex;
  justify-content: flex-end;
}

.header-item {
  margin-left: 10px;
}